{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="border rounded p-4 m-4 border-warning">
        <p class="display-4 pl-4 ml-4">주문 현황</p>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>상품 이미지</th>
                    <th>상품명</th>
                    <th>주문 날짜</th>
                    <th>가격</th>
                    <th>수량</th>
                    <th>총 가격</th>
                    <th>상태</th>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.price|currency}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity|multiply:order.price|currency}}</td>
                    {% if order.status %}
                    <td><small class="badge badge-success">완료되었습니다.</small></td>
                    {%else%}
                    <td><small class="badge badge-warning">진행 중...</small></td>
                    {% endif %}
                </tr>

                {% endfor %}
               
            </tbody>

        </table>
       
   </div>
</div>





{% endblock %}